* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, sans-serif;
}

:root {
    --accent: #5d50fa;
    --black: #131313;
    --gray: #f9f9f9;
    --footer-bg: #222;
    --footer-text: #ccc;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

/* Навігація */
nav{
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content:space-between ;
    align-items:center;
    color: #131313;
    background-color: grey;
    padding: 15px 40px ;
    transition: all 0.1s ease-out;
    filter: drop-shadow(5px 5px 10px rgba(0,0,0,0.15)); ;
}

nav .brand {
    text-decoration: none;
    color: var(--black);
}

nav .brand h1 {
    font-size: 32px;
    font-weight: bold;
}

.menu {
    display: flex;
    gap: 30px;
  justify-content: center;
  flex-grow: 1;

}

.menu a {
    align-self: center;
    display:inline-block;
    position: relative;
    color: #131313;
    text-decoration: none;
    margin: 0 40px;
    font-size: 32px;
    font-weight: 500;

}

.menu a::after{
    color: var(--accent);
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    border-radius: 5px;
    height:0.1em;
    bottom: 0;
    left: 0;
    background: currentColor;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.menu a:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

.btn{
    color: #f9f9f9;
    font-size: 25px;
    cursor: pointer;
    display: none;
}


.btn-2 {
    width: 200px;
    margin-top: 15px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: var(--accent);
    border: 1px solid var(--black);
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.btn-2:hover {
    background-color: black;
}
/* Навігація кінець */
/* Головна сторінка */
.main-page {
    margin-top: 200px;
    display: flex;
    padding: 0px 50px;
    justify-content: center;
    color: black;
    overflow: hidden;
}
.main-headlines{
    display: flex;
    flex-direction: column;
    gap: 18px;
    width: 652px;
}
.main-headlines h1 {
    font-size: 64px;
    font-weight: bold;
}

.main-headlines p {
    font-size: 32px;
}

.btn-main{
    width: 276px;
    height: 62px;
    font-size: 24px;
}

.main-page-image{
    max-width: 70%;
    height: auto;
    justify-content: right;
}
/* Головна сторінка кінець */
/* Машини*/
/*Фільтри*/
.filters{
    border-radius: 32px;
    background-color: var(--accent);
    width: 400px;
    height: 50px;
    justify-content: center;
    margin-top: 30px;
    display: flex;
    gap: 50px;   
}
.transmission-filter{
    border-radius: 32px;
    height: 20px;
    align-self: center;
}
.price-filter{
    height: 20px;
    align-self: center;
    border-radius: 32px;
}
/*Фільтри*/
.collection{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.collection h1{
    font-size: 64px;
    font-weight: bold;
    color: black;
}

.collection-container{
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    margin-top: 50px;
    justify-content: center;
}

.collection-car-item{
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 450px;
    padding: .5rem .5rem 1.5rem;
    border-radius: 1rem;
    border: 1px solid black;
    margin: 0 auto;
    transition: all 0.3 ease-out;
    filter: drop-shadow(5px 5px 10px rgba(0,0,0,0.15));
}

.collection-car-item:hover{
    box-shadow: 0 12px 16px var(--black);
}
.collection-car-item img{
    align-self: center;
    height: 300px;
    width: 450px;
    border-radius: 32px;
}


.collection-car-item h2{
    text-align: center;
}

.car-info-container{

    font-size: 32px;
    margin-bottom: 33px;
    margin-top: 5px;
}
.car-info-container h2{
    font-size: 32px;
    margin-bottom: 33px;
    margin-top: 5px;
}

.btn-car{
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 5px;
    width: 190px;
    height: 60px;
    font-size: 16px;
}

.btn-car i{
    font-size: 16px;
}

.btn-car:hover{
    gap:8px;
}

.collection h1{
    margin-top: 40px;
}
/* Машини кінець*/
/*Про нас*/
.heading{
    text-align: center;
    font-size: 48px;
    font-weight: 500;
    color: black;
    
}
.about-container{
    display: grid;
    grid-template-columns: repeat(2,1frn);
    margin-top: 2rem;
    align-items: center;
    gap: 1rem;
    margin-top: 5rem;
}

.about-map iframe{
    text-align: center;
    width: 100%;
    height: 500px;
}

.about-text span{
    font-weight: 500;
    color: black;
    text-transform: uppercase;
    font-size: 48px;
}

.about-text p{
    font-weight: 500;
    font-size: 24px;
    margin: 0,5rem 0 1.4rem;
    color: black;
}
/*Про нас кінець*/
footer {
    justify-items: center;
    width: 100%;
    height: 100%;
    font-size: 24px;
    background-color: var(--footer-bg);
    color: var(--footer-text);
    padding: 40px 20px;
    margin-top: 50px;
}
/*Сторінка бронювання*/
.contact{
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact h1{
    font-size: 24px;
    font-weight: bold;
    color: black;
}

.contact p{
    font-size: 24px;
    width: 708px;
    text-align: center;
    color: black;
}

.car-select{
    background-color: var(--accent);
    width: 90vw;
    height: 153px;
    border-radius: 32px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;   
}

.car-select-item{
    display: flex;
    flex-direction: column;
}

.car-select-item label{
font-size: 24px;
}

.car-select-input{
    width: 276px;
    height: 44px;
    border-radius: 8px;
    padding: 5px;
    font-size: 16px;
}

.car-type {
    width: 276px;
    height: 44px;
    border-radius: 8px;
    padding: 5px;
    font-size: 16px;
}

.contact-form{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 50px;
}

.input1 {
        height: 60px;
        border: none;
        border-bottom: 1px solid var(--black);
        font-size: 32px;
        color: var(--accent);
        font-weight: 600;
        background-color: transparent;
        outline: none;
}
.input2 {
    height: 60px;
    border: none;
    border-bottom: 1px solid var(--black);
    font-size: 32px;
    color: var(--accent);
    font-weight: 600;
    background-color: transparent;
    outline: none;
}

.input3 {
    height: 60px;
    border: none;
    border-bottom: 1px solid var(--black);
    font-size: 32px;
    color: var(--accent);
    font-weight: 600;
    background-color: transparent;
    outline: none;
}
/*Сторінка бронювання кінець*/
.contact-form button{
    width: 260px;
    height: 50px;
    border-radius: 0px;
}

.your-bookings h1{
    font-size: 60px;
    color: var(--accent);
    justify-self: center;
    padding-top: 200px;
}
.booking-entry{
    font-size: 24px;
    padding-top: 50px;
}
.your-bookings h3{
    align-self:center;
    font-size: 48px;
    color:var(--accent);
    padding: 1px;
}

#no-bookings {
    padding-top: 200px;
    font-size: 48px;
    color: #000000;
    margin-top: 20px;
}


@media (max-width: 768px) and (min-width: 0px) {
    /*навігація початок*/
    .nav{
        z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content:space-between ;
    align-items:center;
        align-self: center;
    }
    nav .menu {
        position: fixed;
        background: var(--accent);
        flex-direction: column;
        min-width: 80%;
        height: 100vh;
        top: 0;
        right: -100%;
        padding: 50px;
        transition: right 0.5s;
        display: flex; /* <<< замість display: none! */
        align-items: flex-start;
        justify-content: flex-start;
        z-index: 100;
    }

    nav .menu.menu-active {
        right: 0;
    }

    nav .btn, nav .menu-btn {
        display: block;
        font-size: 24px;
        cursor: pointer;
        z-index: 101;
    }

    nav .menu .close-btn {
        position: absolute;
        top: 10px;
        left: 10px;
        font-size: 30px;
        color: white;
        cursor: pointer;
    }

    nav .menu a {
        display: block;
        font-size: 20px;
        margin: 20px 0;
        color: white;
    }
    /*навігація кінець*/
    .main-page {
        margin-top: 110px;
        flex-direction: column;
        padding: 0px 20px;
 
    }

    .main-headlines{
        width: 100%;
    }

    .main-headlines h1{
        font-size: 32px;
    }

    .main-headlines p{
        font-size: 24px;
    }

    .btn-2{
        align-self: center;
        width: 200px;
        height: 43px;
        font-size: 16px;
    }

    .main-page-image{
        align-self: center;
    }
    button {
        width: 100%;
    }
    /*мейн кінець*/
    /*машини початок*/
    .collection h1{
        font-size: 32px;
    }
    .filters{
        border-radius: 32px;
        background-color: var(--accent);
        width: 100%;
        height: 50px;
        display: flex;
        gap: 10px;   
    }
    .collection-car-item{
        width: 300px;
    }
    .collection-car-item img{
        width: 300px;
    }
    .btn-all-cars{
        width: 200px;
    }
    /*машини кінець*/
    /*бронювання*/
    .contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: #5a4fff; 
        padding: 30px 15px;
        margin: 20px auto;
        width: 90%;
        border-radius: 12px;
        max-width: 500px; 
      }
    
      .car-select {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 20px;
        margin-bottom: 30px;
        padding: 0;
      }
    
      .car-select-item {
        display: flex;
        flex-direction: column;
        width: 100%;
      }
    
      .contact-form {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 20px;
      }
    
      .contact-form input{
        width: 100%;
        padding: 10px;
        font-size: 16px;
        color: #000000;
      }


      .contact-form button {
        width: 100%;
        padding: 10px;
        font-size: 16px;
      }
    
      .contact h1 {
        margin-top: 70px;
        text-align: center;
        font-size: 24px;
        margin-bottom: 20px;
        color: rgb(0, 0, 0);
      }
    
      .contact p {
        width: 300px;
        text-align: center;
        font-size: 18px;
        color: rgb(0, 0, 0);
        margin-bottom: 30px;
      }
      /*бронювання кінець*/
    }
    @media (min-width: 769px) and (max-width: 1000px) {
        /*навігація початок*/
    .nav{
        z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content:space-between ;
    align-items:center;
        align-self: center;
    }
    nav .menu {
        position: fixed;
        background: var(--accent);
        flex-direction: column;
        min-width: 80%;
        height: 100vh;
        top: 0;
        right: -100%;
        padding: 50px;
        transition: right 0.5s;
        display: flex; /* <<< замість display: none! */
        align-items: flex-start;
        justify-content: flex-start;
        z-index: 100;
    }

    nav .menu.menu-active {
        right: 0;
    }

    nav .btn, nav .menu-btn {
        display: block;
        font-size: 24px;
        cursor: pointer;
        z-index: 101;
    }

    nav .menu .close-btn {
        position: absolute;
        top: 10px;
        left: 10px;
        font-size: 30px;
        color: white;
        cursor: pointer;
    }

    nav .menu a {
        display: block;
        font-size: 20px;
        margin: 20px 0;
        color: white;
    }
    /*навігація кінець*/
    .main-page {
        margin-top: 110px;
        flex-direction: column;
        padding: 0px 20px;
 
    }

    .main-headlines{
        width: 100%;
    }

    .main-headlines h1{
        font-size: 32px;
    }

    .main-headlines p{
        font-size: 24px;
    }

    .btn-2{
        align-self: center;
        width: 80%;
        height: 43px;
        font-size: 16px;
    }
    .btn-main{
        align-self: center;
        width: 400px;
        height: 43px;
        font-size: 16px;
    }

    .main-page-image{
        align-self: center;
    }
    button {
        width: 100%;
    }
    /*мейн кінець*/
    /*машини початок*/
    .filters{
        border-radius: 32px;
        background-color: var(--accent);
        width: 100%;
        height: 50px;
        display: flex;
        gap: 10px;   
    }
    .collection-car-item{
        width: 300px;
    }
    .collection-car-item img{
        width: 300px;
    }
    .btn-all-cars{
        width: 20%;
    }
    /*машини кінець*/
    /*бронювання*/
    .contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: #5a4fff; 
        padding: 30px 15px;
        margin: 20px auto;
        width: 90%;
        border-radius: 12px;
        max-width: 500px; 
      }
    
      .car-select {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 20px;
        margin-bottom: 30px;
        padding: 0;
      }
    
      .car-select-item {
        display: flex;
        flex-direction: column;
        width: 100%;
      }
    
      .contact-form {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 20px;
      }
    
      .contact-form input{
        width: 100%;
        padding: 10px;
        font-size: 16px;
        color: #000000;
      }


      .contact-form button {
        width: 100%;
        padding: 10px;
        font-size: 16px;
      }
    
      .contact h1 {
        margin-top: 70px;
        text-align: center;
        font-size: 24px;
        margin-bottom: 20px;
        color: rgb(0, 0, 0);
      }
    
      .contact p {
        width: 300px;
        text-align: center;
        font-size: 18px;
        color: rgb(0, 0, 0);
        margin-bottom: 30px;
      }
    }
    @media (min-width: 1001px) and (max-width: 1440px) {
        nav {
            padding: 20px 40px;
        }
    
        nav .menu a {
            font-size: 24px;
            margin: 0 20px;
        }
    
        .main-page {
            margin-top: 150px;
            padding: 0px 30px;
        }
    
        .main-headlines {
            width: 100%;
        }
    
        .main-headlines h1 {
            font-size: 48px;
        }
    
        .main-headlines p {
            font-size: 24px;
        }
    
        .btn-main {
            width: 200px;
            height: 50px;
            font-size: 20px;
        }
        .filters{
            border-radius: 32px;
            background-color: var(--accent);
            width: 400px;
            height: 50px;
            margin-right: 2000px;
            display: flex;
            gap: 10px;   
        }
        .collection h1 {
            font-size: 48px;
        }
    
        .collection-car-item {
            width: 400px;
        }
    
        .collection-car-item img {
            width: 100%;
            height: 250px;
        }
    
        .heading {
            font-size: 40px;
        }
    
        .about-container {
            grid-template-columns: repeat(2, 1fr); /* виправлена помилка */
            padding: 0 20px;
        }
    
        .about-text span {
            font-size: 36px;
        }
    
        .about-text p {
            font-size: 20px;
        }
    
        .contact p {
            width: 100%;
            font-size: 20px;
        }
    
        .contact h1 {
            font-size: 36px;
        }
    
        .car-select {
            width: 1000px;
            height: 200px;

            gap: 20px;
            padding: 20px;
        }
    
        .car-select-item {
            width: 80%;
        }
    
        .your-bookings h1 {
            font-size: 48px;
        }
    
        .your-bookings h3 {
            font-size: 36px;
        }
    
        #no-bookings {
            font-size: 36px;
        }
    }
    @media (min-width: 1440px) and (max-width: 1600px) {
        nav {
            padding: 20px 40px;
        }
    
        nav .menu a {
            font-size: 24px;
            margin: 0 20px;
        }
    
        .main-page {
            margin-top: 150px;
            padding: 0px 30px;
        }
    
        .main-headlines {
            width: 100%;
        }
    
        .main-headlines h1 {
            font-size: 48px;
        }
    
        .main-headlines p {
            font-size: 24px;
        }
    
        .btn-main {
            width: 200px;
            height: 50px;
            font-size: 20px;
        }
        .filters{
            border-radius: 32px;
            background-color: var(--accent);
            width: 400px;
            height: 50px;
            margin-right: 2000px;
            display: flex;
            gap: 10px;   
        }
        .collection h1 {
            font-size: 48px;
        }
    
        .collection-car-item {
            width: 400px;
        }
    
        .collection-car-item img {
            width: 100%;
            height: 250px;
        }
    
        .heading {
            font-size: 40px;
        }
    
        .about-container {
            grid-template-columns: repeat(2, 1fr); /* виправлена помилка */
            padding: 0 20px;
        }
    
        .about-text span {
            font-size: 36px;
        }
    
        .about-text p {
            font-size: 20px;
        }
    
        .contact p {
            width: 100%;
            font-size: 20px;
        }
    
        .contact h1 {
            font-size: 36px;
        }
    
        .car-select {
            width: 1000px;
            height: 200px;

            gap: 20px;
            padding: 20px;
        }
    
        .car-select-item {
            width: 80%;
        }
    
        .your-bookings h1 {
            font-size: 48px;
        }
    
        .your-bookings h3 {
            font-size: 36px;
        }
    
        #no-bookings {
            font-size: 36px;
        }
    }